@page "/CAportes"
@inject AportesBLL aportesBLL;

<EditForm Model="listaAportes">
    <DataAnnotationsValidator />

    <div  class="row">
        <select class="form-control" @bind="Filtro">
            <option value="1"></option>
            <option value="2"></option>
        </select>
    </div>

    <label class="form-control">Criterio</label>
    <input type="text" class="form-control" @bind="Criterio">

    <div>
        <button type="button" @onclick="Buscar"> <i>Buscar</i>
        </button>
    </div>

    <table class="table">

        <thead>
            <tr>
                <th>RegistroId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var registro in listaAportes)
            {
                <tr>
                    <td>@registro.RegistroId</td>
                    <td><a href="registro/@registro.RegistroId">Ver</a></td>
                </tr>
            }

        </tbody>

    </table>
</EditForm>

@code
{
    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";

    public List<Aportes> listaAportes { get; set; } = new List<Aportes>();
    public void Buscar()
    {
        listaAportes = aportesBLL.GetList(o => true);
    }

}